.container
	.btn-toolbar.pull-right
		.btn.btn-primary(onClick=this.props.onSelect.bind(this,"new")) Neu
	h3 Werkstatt
	Context(target=this.search onChange=this.update.bind(this))
		.row
			.col-sm-6.form-horizontal
				Binding(name="tenant")
					FormGroup(label="Kunde" labelClass="col-sm-4" wrapperClass="col-sm-8")
						Input(type="text")
				Binding(name="car")
					FormGroup(label="Fahrzeug" labelClass="col-sm-4" wrapperClass="col-sm-8")
						Input(type="text")
				.form-gorup
					label.control-label.col-sm-4 Bezahlte anzeigen
					.col-sm-8
						.checkbox
							label
								Binding(name="paid")
									Input(type="checkbox")
			.col-sm-6.form-horizontal
				Binding(name="from")
					FormGroup(label="Datum von" labelClass="col-sm-4" wrapperClass="col-sm-8")
						Date
				Binding(name="to")
					FormGroup(label="Datum bis" labelClass="col-sm-4" wrapperClass="col-sm-8")
						Date
	if this.services
		List(ref="list" itemsRenderer=this.renderTable.bind(this,null,null) itemRenderer=this.renderItem.bind(this) length=this.services.length type="variable" itemSizeEstimator=()=>39)
mixin renderTable(items,ref)
	table.table.table-striped.table-hover
		thead
			tr
				th Datum
				th Kunde
				th Fahrzeug
				th Nummernschild
				th Betrag
				th Zahlbar bis
		tbody(ref=ref)
			= items
mixin renderItemMixin(service,key)
	tr(key=key onClick=this.props.onSelect.bind(this,service._id) className=service.paymentDate==null&&service.dueDate!=null&&convert.toDate(service.dueDate).isBefore(moment())?"danger":"")
		td= service.date?convert.toDate(service.date).format("L"):""
		td= service.tenantName
		td= service.carBrand+" "+service.carType+" ("+service.carColor+")"
		td= service.carLicencePlate
		td= money.format(service.total)
		td= service.dueDate?convert.toDate(service.dueDate).format("L"):""
script(section="body").
	constructor(p,c){
		super(p,c);
		this.componentWillReceiveProps(p);
	}
	async componentWillReceiveProps(p){
		this.search = query.parse(p.query);
		this.services = await client.getServices(this.search);
		this.forceUpdate();
	}
	async update(){
		this.props.location.replace("",query.serialize(this.search));
	}
	renderItem(index,key){
		return this.renderItemMixin(null,null,this.services[index],key)
	}
	componentWillUnmount(){
		Component.index = this.refs.list.getVisibleRange()[0];
	}
	componentDidUpdate(){
		if(Component.index && this.refs.list){
			setTimeout(()=>this.refs.list.scrollTo(Component.index));
		} 
	}
script.
	var client = require("./client");
	var convert = require("./dayConvert");
	var money = require("./money");
	var moment = require("moment");
	var {Context,Binding} = require("react-bicon");
	var FormGroup = require("./formgroup");
	var Input = require("./input");
	var Date = require("./datefield");
	var List = require("react-list");
	var QueryUtil = require("./queryutil");
	var {Router} = require("react-route-system");
	
	Component.router = new Router()
		.add("search","",null,{tenant:true,car:true,from:true,to:true,paid:true})
			
	var query = new QueryUtil({
		tenant: "",
		car: "",
		from: Number,
		to: Number,
		paid: false
	});
